body {
	padding: 1em 1em;
	min-width: 450px;
}

h2,h3,h4,h5,h6 {
	margin-top: 0;
	margin-bottom: 1em;
}

.box {
	margin-bottom: 1em;
}

#graphCanvas {
	display: inline-block;
	border: 1px solid black;
	margin: 1em 0;
}
#buttons button.selected {
	color: #00f;
}
#buttons .label {
	margin-right: 2em;
	display: paragraph;
}
#savedCastles .name {
	font-family: sans-serif;
	color: magenta;
}
#savedCastles .name:hover {
	cursor: hand;
	color: blue;
}

#strategy .move {
	font-size: 1.5em;
	padding: 0 0.25em;
}
#strategy .move.repeat {
	border: 2px solid red;
	color: red;
}
#strategy .move.real:hover {
	cursor: hand;
	color: blue;
}
#strategy .move.current {
	background: yellow;
}
#strategy .move.backtracked {
	color: #ddd;
}
#strategy .move.done {
	color: blue;
}
